{% extends "base.html" %}

{% block content %} <br> <br> <br> <br> <br> <br>

<div class="container-fluid">
  <p> <b> Search for projects here </b></p>


<form method="get">
  <h3>{{ filtered.form }}</h3>
  <button class='btn btn-danger' type="submit">Search </button>

</form>
</div>
<br><br><br><br><br>
<div class="container-fluid">
  <div class="row">




{% for project in projects %}

<div class="col-md-3">



<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap">
  <div class="card-body">
    <a href="{{ project.get_absolute_url }}"> <h5 class="card-title">{{ project.title }}</a></h5>
    <p class="card-text">{{ project.description }}.</p>

  </div>
</div>
</div>
{% endfor %}

</div>
</div>
{% endblock content %}
